@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "bootstrap";
@import "typography/typography";
@import "layout/structure";
@import "../blocks/blocks";

html {
	background-color: $white !important;
	padding: 0;
}

.wp-block:not([data-align="full"]):not([data-align="wide"]) {

	@extend .container;
}

.wp-block[data-align="full"] {

	.wp-block-group {

		max-width: 100%;

		&__inner-container {

			@extend .container;
		}
	}
}
