@import "svg-icons";
@import "modifiers";

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}


@mixin overlay {

	&::before {
		background-color: rgba(23, 23, 23, 0.5);
		content: "";
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;
	}
}

#media-query-detector {
	display: none;
	height: 1px;

	@media (min-width: $tablet-size) {
		height: 2px;
	}

	@media (min-width: $desktop-size) {
		height: 3px;
	}
}

.cursor-default {
	cursor: auto;
	pointer-events: none;
}
