.site-header {
	position: fixed;
	background: white;
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 -10px 20px 20px transparentize(desaturate($primary, 50%), 0.5);
	transition: box-shadow 0.15s ease-in;

	&.top {
		box-shadow: none;
	}
}
