// stylelint-disable function-url-quotes
// stylelint-disable font-family-name-quotes
// stylelint-disable no-eol-whitespace

// /* lato-300 - latin */
// @font-face {
// 	font-family: Lato;
// 	font-style: normal;
// 	font-weight: 300;
// 	src: url(fonts/lato-v16-latin-300.eot);
// 	src:
// 		local("Lato Light"),
// 		local("Lato-Light"),
// 		url(fonts/lato-v16-latin-300.eot?#iefix) format("embedded-opentype"),
// 		url(fonts/lato-v16-latin-300.woff2) format("woff2"),
// 		url(fonts/lato-v16-latin-300.woff) format("woff"),
// 		url(fonts/lato-v16-latin-300.ttf) format("truetype"),
// 		url(fonts/lato-v16-latin-300.svg#Lato) format("svg");
// }

// stylelint-disable function-url-quotes
// stylelint-disable font-family-name-quotes
// stylelint-disable no-eol-whitespace
