/***********************************************************************
FOOTER
***********************************************************************/

.site-footer {
	background-color: $gray-900;
	color: $white;
	font-size: 14px;
	padding: 6em 0;
}
