body {
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Minimum site size for very small pages */
.site-content {
	min-height: 85vh;

	/**
  * iPad with portrait orientation.
  */
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
		min-height: 0.85*1024px;
	}

	/**
  * iPad with landscape orientation.
  */
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
		min-height: 0.85*768px;
	}

	/**
  * iPhone 5
  * You can also target devices with aspect ratio.
  */
	@media screen and (device-aspect-ratio: 40/71) {
		min-height: 0.85*500px;
	}
}

.gutter {
	padding: 8rem 0;

	@media (max-width: $tablet-size) {
		padding: 5rem 0;
	}
}

/**
 * Max width classes
 */
@media only screen and (min-width: $tablet-size) {

	.is-table-row {
		display: table;
	}

	.is-table-row [class*="col-"] {
		float: none;
		display: table-cell;
		vertical-align: middle;
	}
}

.max-width-row {
	padding: 0 2rem;

	@media (min-width: $page-max-width) {
		max-width: $page-max-width !important;
		margin-left: auto !important;
		margin-right: auto !important;
		width: 100%;
	}
}
