button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

button,
.btn {
  font-size: $button-size;
}

/**
 * Buttons
 */
.cta-button {
  margin-top: 3rem;
  @media (max-width: $tablet-size) {
    margin-top: 2rem;
  }
}

.fadboilerplate-button,
.fadboilerplate-btn {
  padding: 0.75rem 1.5rem 0.55rem;
  background-color: $blue;
  color: white;
  text-transform: uppercase;
  font-size: $default-size;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  @include transition(all, .3s, ease);
  margin-top: 1rem;
  border: none;
  box-shadow: none;
  text-shadow: none;

  &:hover {
    background-color: lighten($blue, 5%);
    color: white;
  }

  &:focus, &:active {
    color: white;
  }

  &.nf-element {
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 1em;
  }
}
