.btn {

	&.btn-cta {
		background-color: $primary;
		color: color-yiq($primary);
		font-size: $button-size;
		margin-top: 3rem;
		padding: 1rem 3rem;
		text-transform: uppercase;

		&:hover {
			background-color: lighten($blue, 5%);
			color: $white;
		}

		&:focus,
		&:active {
			color: $white;
		}

		&.nf-element {
			border: none;
			box-shadow: none;
			text-shadow: none;
			font-size: 1em;
		}

		@media (max-width: $tablet-size) {
			margin-top: 2rem;
		}
	}
}
